/* CSS Document */
/* Declare variables */
/* Text-only title style centered */
/* Contact Name */
/* Contact Source */
/* style05 no longer uses text 3 */
/* One Button */
/* Two Button */
/* Three button */
/* Four button */
.Dialog3Ctrl {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 416px;
  text-align: center;
  background-image: url(../images/DialogBG_Style01.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3CtrlFs {
  height: 480px;
  background-image: url(../images/DialogBG_Style02.png);
}

.Dialog3CtrlContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 416px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Dialog3CtrlContainerFs {
  top: 64px;
}

/*
 * Background styles
 * /
 * 
/* Status bar visible */
.Dialog3Ctrl_BG_Style01 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 800px;
  height: 416px;
  background-image: url(../images/DialogBG_Style01.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_BG_Style02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 480px;
  background-image: url(../images/DialogBG_Style02.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_BG_AppLoadScreens {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 416px;
  background-image: url(../images/DialogBG_AppLoadScreens.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Common to both Title Styles */
.Dialog3Ctrl_Title {
  position: absolute;
  top: 18px;
  left: 59px;
  width: 682px;
  height: 66px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Title_Separator {
  position: absolute;
  top: 65px;
  left: 1px;
  width: 680px;
  height: 1px;
  background-image: url(../images/TitleSeparatorLine-1.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Text-only title style */
.Dialog3Ctrl_TitleStyle01_Text1 {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 664px;
  height: 44px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

/* Icon plus title text */
.Dialog3Ctrl_TitleStyle02_Text1 {
  position: absolute;
  top: 14px;
  left: 66px;
  width: 615px;
  height: 46px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_TitleStyle02_Image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  /* BG image to be added dynamically */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Text-only title style centered */
.Dialog3Ctrl_TitleStyle03_Text1 {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 664px;
  height: 44px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

/* Content Style 01 */
.Dialog3Ctrl_Style01 {
  /* Depricated */
}

/* Content Style 02 */
.Dialog3Ctrl_Style02 {
  position: absolute;
  top: 86px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style02_Item {
  position: absolute;
  display: block;
  white-space: nowrap;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
}

.Dialog3Ctrl_Style02_Wrap {
  display: block;
  white-space: normal;
  width: 646px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.Dialog3Ctrl_Style02_Nowrap {
  width: 646px;
}

.Dialog3Ctrl_Style02_Text1 {
  top: 0px;
  left: 0px;
  line-height: 42px;
}

/* Content Style 03 */
.Dialog3Ctrl_Style03 {
  position: absolute;
  top: 86px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style03_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 45px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style03_Text1_determinate {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 80px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style03_Text2 {
  position: absolute;
  top: 164px;
  left: 0px;
  width: 646px;
  height: 45px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style03_Image1 {
  position: absolute;
  top: 39px;
  left: 0px;
  width: 646px;
  height: 125px;
  text-align: center;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Content Style 04 */
.Dialog3Ctrl_Style04 {
  position: absolute;
  top: 102px;
  left: 79px;
  width: 646px;
  height: 213px;
  margin: 0;
  padding: 0;
}

/* Contact Name */
.Dialog3Ctrl_Style04_Text1 {
  position: absolute;
  top: 0px;
  left: 167px;
  width: 479px;
  height: 43px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

/* Contact Source */
.Dialog3Ctrl_Style04_Text2 {
  position: absolute;
  top: 47px;
  left: 167px;
  width: 479px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style04_Image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 146px;
  height: 146px;
  /* BG image to be added dynamically */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Content Style 05 */
.Dialog3Ctrl_Style05 {
  position: absolute;
  top: 69px;
  left: 79px;
  width: 646px;
  height: 186px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style05_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 120px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  letter-spacing: -1px;
  color: white;
  text-align: center;
  line-height: 110%;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style05_Text2 {
  position: absolute;
  top: 138px;
  left: 0px;
  width: 646px;
  height: 48px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 44px;
  letter-spacing: -2px;
  color: white;
  text-align: center;
  line-height: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

/* style05 no longer uses text 3 */
.Dialog3Ctrl_Style05_Text3 {
  position: absolute;
  top: 207px;
  left: 0px;
  width: 646px;
  height: 31px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 19pt;
  letter-spacing: -1px;
  color: white;
  text-align: center;
  line-height: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

/* Content Style 06 */
.Dialog3Ctrl_Style06 {
  /* Depricated */
}

/* Content Style 07 */
.Dialog3Ctrl_Style07 {
  /* Depricated */
}

/* Content Style 08 */
.Dialog3Ctrl_Style08 {
  /* Depricated */
}

/* Content Style 09 */
.Dialog3Ctrl_Style09 {
  position: absolute;
  top: 20px;
  left: 59px;
  width: 682px;
  height: 385px;
  margin: 0;
  padding: 0;
}

/* Splash icon */
.Dialog3Ctrl_Style09_Image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 682px;
  height: 172px;
  /* BG image to be added dynamically */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Indeterminate meter */
.Dialog3Ctrl_Style09_Image2 {
  position: absolute;
  top: 170px;
  left: 0px;
  width: 682px;
  height: 112px;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Content Style 10 */
.Dialog3Ctrl_Style10 {
  position: absolute;
  top: 20px;
  left: 77px;
  width: 646px;
  height: 385px;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style10_Text1 {
  width: 646px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 94px;
  color: white;
  display: table-cell;
  min-width: 646px;
  max-width: 646px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style11 {
  position: absolute;
  top: 94px;
  left: 77px;
  width: 646px;
  height: 181px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style11_Image1 {
  position: absolute;
  top: 1px;
  left: 296px;
  width: 55px;
  height: 111px;
  /* BG image to be added dynamically */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Content Style 12 */
.Dialog3Ctrl_Style12 {
  /* Depricated */
}

/* Content Style 13 */
.Dialog3Ctrl_Style13 {
  position: absolute;
  top: 86px;
  left: 79px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style13_Item {
  position: absolute;
  display: block;
  height: 117px;
  white-space: nowrap;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
}

.Dialog3Ctrl_Style13_Wrap {
  display: block;
  white-space: normal;
  width: 646px;
  height: 97px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 42px;
  padding-top: 20px;
}

.Dialog3Ctrl_Style13_Nowrap {
  width: 646px;
  line-height: 120px;
}

.Dialog3Ctrl_Style13_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.Dialog3Ctrl_Style13_Text2 {
  position: absolute;
  top: 117px;
  left: 0px;
}

/* Content Style 14 */
.Dialog3Ctrl_Style14 {
  position: absolute;
  top: 86px;
  left: 79px;
  width: 646px;
  height: 212px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style14_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 81px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

/* Indeterminate meter */
.Dialog3Ctrl_Style14_Image1 {
  position: absolute;
  top: 100px;
  left: 265px;
  width: 112px;
  height: 112px;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style16 {
  position: absolute;
  top: 69px;
  left: 79px;
  width: 646px;
  height: 250px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style16_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style16_Image1 {
  position: absolute;
  top: 86px;
  left: 75px;
  width: 495px;
  height: 91px;
  background-image: url(../images/PinEntryBkg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style16_Pin1, .Dialog3Ctrl_Style16_Pin2, .Dialog3Ctrl_Style16_Pin3, .Dialog3Ctrl_Style16_Pin4 {
  position: absolute;
  top: 100px;
  width: 55px;
  height: 55px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style16_Pin1 {
  left: 110px;
}

.Dialog3Ctrl_Style16_Pin2 {
  left: 234px;
}

.Dialog3Ctrl_Style16_Pin3 {
  left: 355px;
}

.Dialog3Ctrl_Style16_Pin4 {
  left: 484px;
}

.Dialog3Ctrl_Style17 {
  position: absolute;
  top: 100px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style17_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 66px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style17_Text2 {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 646px;
  height: 66px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style17_Text3 {
  position: absolute;
  top: 131px;
  left: 0px;
  width: 646px;
  height: 102px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style18 {
  position: absolute;
  top: 86px;
  left: 59px;
  width: 682px;
  height: 319px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style18_Text1, .Dialog3Ctrl_Style18_Text2, .Dialog3Ctrl_Style18_Text3, .Dialog3Ctrl_Style18_Text4 {
  position: absolute;
  width: 658px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  line-height: 35px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style18_Text1 {
  top: 13px;
  left: 18px;
}

.Dialog3Ctrl_Style18_Text2 {
  top: 68px;
  left: 18px;
}

.Dialog3Ctrl_Style18_Text3 {
  top: 123px;
  left: 18px;
}

.Dialog3Ctrl_Style18_Text4 {
  top: 178px;
  left: 18px;
}

.Dialog3Ctrl_Style19 {
  position: absolute;
  top: 86px;
  left: 59px;
  width: 682px;
  height: 319px;
  background-image: url(../images/LineSeparatorGrid.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: 13;
}

.Dialog3Ctrl_Style19_Item {
  position: absolute;
  display: block;
  height: 49px;
  white-space: nowrap;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  color: white;
  text-align: center;
}

.Dialog3Ctrl_Style19_Wrap {
  display: block;
  white-space: normal;
  width: 318px;
  height: 49px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 24px;
}

.Dialog3Ctrl_Style19_Nowrap {
  width: 318px;
  line-height: 46px;
}

.Dialog3Ctrl_Style19_Text1 {
  top: 7px;
  left: 13px;
}

.Dialog3Ctrl_Style19_Text2 {
  top: 70px;
  left: 13px;
}

.Dialog3Ctrl_Style19_Text3 {
  top: 134px;
  left: 13px;
}

.Dialog3Ctrl_Style19_Text4 {
  top: 198px;
  left: 13px;
}

.Dialog3Ctrl_Style19_Text5 {
  top: 261px;
  left: 13px;
}

.Dialog3Ctrl_Style19_Text6 {
  top: 7px;
  left: 352px;
}

.Dialog3Ctrl_Style19_Text7 {
  top: 70px;
  left: 352px;
}

.Dialog3Ctrl_Style19_Text8 {
  top: 134px;
  left: 352px;
}

.Dialog3Ctrl_Style19_Text9 {
  top: 198px;
  left: 352px;
}

.Dialog3Ctrl_Style19_Text10 {
  top: 261px;
  left: 352px;
}

.Dialog3Ctrl_Style19_NoTemplateInstance {
  z-index: 13;
  top: 64px;
}

.Dialog3Ctrl_Style20 {
  position: absolute;
  top: 86px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style20_Item {
  position: absolute;
  display: block;
  white-space: nowrap;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
}

.Dialog3Ctrl_Style20_Wrap {
  display: block;
  white-space: normal;
  width: 646px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.Dialog3Ctrl_Style20_Nowrap {
  width: 646px;
}

.Dialog3Ctrl_Style20_Text1 {
  position: absolute;
  top: 50px;
  left: 0px;
  line-height: 42px;
}

.Dialog3Ctrl_Style20_Image1 {
  position: absolute;
  top: 10px;
  left: 303px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.Dialog3Ctrl_Style22 {
  position: absolute;
  top: 86px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style22_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 83px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style22_Text2 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 646px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style22_Text3 {
  position: absolute;
  top: 176px;
  left: 0px;
  width: 646px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style23 {
  position: absolute;
  top: 86px;
  left: 77px;
  width: 646px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style23_Text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 646px;
  height: 83px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style23_Text2 {
  position: absolute;
  top: 92px;
  left: 0px;
  width: 646px;
  height: 83px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Style23_Text3 {
  position: absolute;
  top: 186px;
  left: 0px;
  width: 646px;
  height: 40px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Buttons {
  position: absolute;
  top: 318px;
  left: 69px;
  width: 662px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* One Button */
.Dialog3Ctrl_ButtonStyle01_En, .Dialog3Ctrl_ButtonStyle01_Ds, .Dialog3Ctrl_ButtonStyle01_focused, .Dialog3Ctrl_ButtonStyle01_down, .Dialog3Ctrl_ButtonStyle01_held {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 54pt;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  letter-spacing: -1px;
  top: 0px;
  /* left set conditionally */
  height: 80px;
  /* width set conditionally */
  left: 0px;
  width: 662px;
  color: white;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_ButtonStyle01_En {
  background-image: url(../images/Dialog_1Btn.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle01_Ds {
  background-image: url(../images/Dialog_1Btn.png);
  color: #929497 !important;
}

.Dialog3Ctrl_ButtonStyle01_focused {
  background-image: url(../images/Dialog_1Btn_Focus.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle01_down {
  background-image: url(../images/Dialog_1Btn_Hit.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle01_held {
  background-image: none;
  color: white;
}

/* Two Button */
.Dialog3Ctrl_ButtonStyle02_En, .Dialog3Ctrl_ButtonStyle02_Red_En, .Dialog3Ctrl_ButtonStyle02_Green_En, .Dialog3Ctrl_ButtonStyle02_Ds, .Dialog3Ctrl_ButtonStyle02_focused, .Dialog3Ctrl_ButtonStyle02_down, .Dialog3Ctrl_ButtonStyle02_held {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 54pt;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  letter-spacing: -1px;
  top: 0px;
  /* left set conditionally */
  height: 80px;
  /* width set conditionally */
  /* left set conditionally */
  width: 330px;
  color: white;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_ButtonStyle02_En {
  background-image: url(../images/Dialog_2Btn.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle02_Red_En {
  background-image: url(../images/Dialog_6Btn_Red.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle02_Green_En {
  background-image: url(../images/Dialog_6Btn_Green.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle02_Ds {
  background-image: url(../images/Dialog_2Btn.png);
  color: #929497 !important;
}

.Dialog3Ctrl_ButtonStyle02_focused {
  background-image: url(../images/Dialog_2Btn_Focus.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle02_down {
  background-image: url(../images/Dialog_2Btn_Hit.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle02_held {
  background-image: none;
  color: white;
}

/* Three button */
.Dialog3Ctrl_ButtonStyle03_En, .Dialog3Ctrl_ButtonStyle03_Red_En, .Dialog3Ctrl_ButtonStyle03_Green_En, .Dialog3Ctrl_ButtonStyle03_Ds, .Dialog3Ctrl_ButtonStyle03_focused, .Dialog3Ctrl_ButtonStyle03_down, .Dialog3Ctrl_ButtonStyle03_held {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 54pt;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  letter-spacing: -1px;
  top: 0px;
  /* left set conditionally */
  height: 80px;
  /* width set conditionally */
  /* left set conditionally */
  width: 220px;
  color: white;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_ButtonStyle03_En {
  background-image: url(../images/Dialog_3Btn.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle03_Red_En {
  background-image: url(../images/Dialog_5Btn_Red.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle03_Green_En {
  background-image: url(../images/Dialog_5Btn_Green.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle03_Ds {
  background-image: url(../images/Dialog_3Btn.png);
  color: #929497 !important;
}

.Dialog3Ctrl_ButtonStyle03_focused {
  background-image: url(../images/Dialog_3Btn_Focus.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle03_down {
  background-image: url(../images/Dialog_3Btn_Hit.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle03_held {
  background-image: none;
  color: white;
}

/* Four button */
.Dialog3Ctrl_ButtonStyle04_En, .Dialog3Ctrl_ButtonStyle04_Red_En, .Dialog3Ctrl_ButtonStyle04_Green_En, .Dialog3Ctrl_ButtonStyle04_Ds, .Dialog3Ctrl_ButtonStyle04_focused, .Dialog3Ctrl_ButtonStyle04_down, .Dialog3Ctrl_ButtonStyle04_held {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 54pt;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  letter-spacing: -1px;
  top: 0px;
  /* left set conditionally */
  height: 80px;
  /* width set conditionally */
  /* left set conditionally */
  width: 165px;
  color: white;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_ButtonStyle04_En {
  background-image: url(../images/Dialog_4Btn.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle04_Ds {
  background-image: url(../images/Dialog_4Btn.png);
  color: #929497 !important;
}

.Dialog3Ctrl_ButtonStyle04_focused {
  background-image: url(../images/Dialog_4Btn_Focus.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle04_down {
  background-image: url(../images/Dialog_4Btn_Hit.png);
  color: white;
}

.Dialog3Ctrl_ButtonStyle04_held {
  background-image: none;
  color: white;
}

.Dialog3Ctrl_Checkbox {
  position: absolute;
  top: 380px;
  left: 63px;
  width: 336px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_CheckboxText {
  position: absolute;
  top: 26px;
  left: 66px;
  width: 319px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_CheckboxImage {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 36px;
  height: 36px;
  /* BG image to be added dynamically */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Indeterminate_Meter_01 {
  width: 112px;
  height: 112px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Indeterminate_Meter_02 {
  width: 112px;
  height: 112px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Indeterminate_Meter_03 {
  width: 112px;
  height: 112px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_01 {
  position: absolute;
  top: 142px;
  left: 2px;
  width: 642px;
  height: 12px;
  background-image: url(../images/Dialog_ProgressBar_Background.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_01_Highlight {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 640px;
  height: 8px;
  background-image: url(../images/Dialog_ProgressBar_Highlight.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_01_LeftLabel {
  position: absolute;
  top: 110px;
  left: 2px;
  width: 100px;
  height: 31px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_01_RightLabel {
  position: absolute;
  top: 110px;
  left: 542px;
  width: 100px;
  height: 31px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 28px;
  text-align: right;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_02 {
  position: absolute;
  top: 151px;
  left: 2px;
  width: 642px;
  height: 12px;
  background-image: url(../images/Dialog_ProgressBar_Background.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_02_Highlight {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 640px;
  height: 8px;
  background-image: url(../images/Dialog_ProgressBar_Highlight.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_02_LeftLabel {
  position: absolute;
  top: 110px;
  left: 2px;
  width: 100px;
  height: 31px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Dialog3Ctrl_Determinate_Meter_02_RightLabel {
  position: absolute;
  top: 110px;
  left: 542px;
  width: 100px;
  height: 31px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 28px;
  text-align: right;
  margin: 0;
  padding: 0;
}
