.WinkCtrl {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 800px;
  height: 416px;
  background-image: url(../images/Notification_BG.png);
  z-index: 14;
}

.WinkCtrlStyle05 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 800px;
  height: 416px;
  background-image: url(../images/Notification_BG.png);
  z-index: 12;
}

.WinkCtrlBox {
  position: inherit;
  top: 46px;
  left: 168px;
  width: 470px;
  height: 260px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  display: table;
}

/* Style1 */
.WinkStyle1Text1 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 81px;
  left: 17px;
  width: 430px;
  height: 38px;
}

.WinkStyle1Text2 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 147px;
  left: 17px;
  width: 430px;
  height: 38px;
}

.WinkStyle2Text1 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 51px;
  left: 17px;
  width: 430px;
  height: 38px;
}

.WinkStyle2Text2 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 114px;
  left: 17px;
  width: 430px;
  height: 38px;
}

.WinkStyle2Text3 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 176px;
  left: 17px;
  width: 430px;
  height: 38px;
}

.WinkStyle3Text1 {
  display: table-cell;
  vertical-align: middle;
  width: 430px;
  padding-left: 20px;
  padding-right: 20px;
  height: 260px;
  left: 17px;
}

/*Class added for Style03 to support multiline ellipsis*/
.WinkStyle3InnerDivText1 {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-align: center;
  width: 430px;
  max-height: 240px;
}

.WinkStyle4InnerDivText2 {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-align: center;
  width: 430px;
  max-height: 126px;
}

.WinkStyle4Text1 {
  position: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 72px;
  left: 15px;
  width: 430px;
  height: 38px;
}

.WinkStyle4Text2 {
  position: inherit;
  text-align: center;
  top: 124px;
  left: 16px;
  width: 430px;
}

.WinkStyle5Image1 {
  position: inherit;
  width: 440px;
  height: 230px;
  top: 15px;
  left: 15px;
  background: no-repeat center;
}

/*CSS Animation classes for fade animations*/
.WinkFadeOut {
  animation: opacFullToZero 1s linear both;
}
